@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --tertiary: rgb(238, 233, 233);
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.ImageGallery {
  max-width: 960px;
  margin: 0 auto;

  margin-top: 20px;
}

.title header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 4.5fr 1fr 1fr;
}

.header-logged-out {
  display: grid;
  grid-template-columns: 1.5fr 6.5fr;
}

.header-forgot-password {
  display: grid;
  grid-template-columns: 1.5fr 6.5fr 1fr;
}

.header-update-profile {
  display: grid;
  grid-template-columns: 1.5fr 1fr 6.5fr;
}

.title h1 {
  
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h3 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: normal;

  align-self: center;
}

.title button:hover {
  background: var(--secondary);
  color: var(--primary);
}

.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
.upload-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 40px;

  max-width: 960px;

  padding-top: 25vh;
  border: none;

  margin-left: auto;
  margin-right: auto;
  margin-top: -15vh;
}
.upload-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  grid-gap: 35px;

  background: var(--secondary);

  max-height: 70vh;
}
/*
form {
  margin: 30px auto 10px;
  text-align: center;
}
*/

.file-input {
  height: 0;
  width: 0;
  opacity: 0;
}
label.file-label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 0 auto;
  line-height: 20px;
  color: var(--primary);
  font-weight: bold;
  font-size: 36px;
}

.location-input {
  margin: 0 auto;
  height: 0;
  font-size: 1.2rem;

  text-align: center;
}
label.location-label {
  width: 300px;
  height: 30px;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;

  margin: 10px auto;
}

label.file-label:hover {
  background: var(--primary);
  color: white;
}

.output {
  height: 0;
  font-size: 0.8rem;
  text-align: center;
}

.file-name {
  color: var(--error);
  font-size: 0.8rem;
  margin-top: 0;
}
.error {
  color: var(--error);
  font-size: 0.8rem;

  margin-top: 0;
}
.button {
  margin: 0 auto;

  font-size: 0.8rem;

  width: 70px;
  height: 30px;
  line-height: 20px;

  font-weight: bold;

  border-radius: 10px;
  border: 1px solid var(--primary);

  background: var(--primary);
  color: white;
}
button:hover {
  background: whitesmoke;
  color: var(--primary);
}
button:focus {
  outline: none;
}
button:active {
  color: blue;
}

.progress-container {
  height: 5px;
}

@media screen and (max-width: 960px) {
}

/* progress bar styles */
.progress-bar {
  height: 20px;
  background: var(--primary);
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;

  z-index: 1;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: 2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal-vert-grid {
  display: grid;
  grid-template-rows: 8vh 80vh 8vh;
}

.modal-grid {
  display: grid;
  grid-template-columns: 12fr;

  margin: 0 auto;
  align-self: center;

  width: 100%;
}

.button-exit {
  justify-self: flex-start;

  font-size: 1.6rem;

  height: 30px;
  line-height: 20px;

  font-weight: bold;

  background: var(--primary);
  color: black;
  border: 1px solid var(--primary);
}

.button-exit:hover {
  font-size: 1.6rem;
  background: white;
  color: var(--primary);
}

.location {
  text-align: center;
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;

  align-self: flex-end;
}

.img-inner-container {
  position: relative;
}

.backdrop img {
  display: block;
  max-width: 100vw;
  max-height: 80vh;
  margin: 0 auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);

  align-self: center;

  overflow: hidden;
}

.button-prev {
  position: absolute;
  left: 0;

  font-size: 3rem;

  width: 50%;
  height: 100%;

  background: transparent;
  border: none;

  text-align: left;

  color: var(--primary);
}

.button-prev:hover {
  font-size: 3rem;
  background: transparent;
  color: var(--primary);
}

.button-next {
  position: absolute;
  left: 50vw;

  font-size: 3rem;

  width: 50%;
  height: 100%;

  background: transparent;
  border: none;

  text-align: right;

  color: var(--primary);
}

.button-next:hover {
  font-size: 3rem;
  background: transparent;
  color: var(--primary);
}

/*
.caption-grid {
  margin: auto;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  max-width: 60vw;
  align-self: start;
}
*/
.caption {
  text-align: center;
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.button-delete {
  justify-self: end;
  align-self: end;

  font-size: 1.6rem;

  height: 40px;

  font-weight: bold;

  border-radius: 10px;

  color: var(--primary);

  background: transparent;
  border: none;
}

/*Signup Styles*/
.button-forms {
  justify-self: end;
  align-self: end;

  font-size: 1.6rem;

  height: 40px;

  font-weight: bold;

  border-radius: 10px;

  border: 1px solid var(--primary);

  margin-top: 20px;

  background: var(--primary);
  color: white;
}

.button-forms:hover {
  background: var(--secondary);
  color: var(--primary);
}
